@charset "UTF-8";
* {
  margin: 0 auto;
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  color: none;
}

.OUR_MISSION__sub-title, .TO_THE_WORLD__sub-title, .PRODUCK_RELEASE__sub-title {
  font-family: Poppins;
  font-weight: bold;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 1.14px;
  color: #FF5263;
}

.OUR_MISSION__sub-title:before, .TO_THE_WORLD__sub-title:before, .PRODUCK_RELEASE__sub-title:before {
  content: url(/assets/image/section_title-iconL.png);
  display: inline-block;
  padding-right: 14px;
}

.OUR_MISSION__sub-title:after, .TO_THE_WORLD__sub-title:after, .PRODUCK_RELEASE__sub-title:after {
  content: url(/assets/image/section_title-iconR.png);
  display: inline-block;
  padding-left: 14px;
}

.header__btn, .main-visual__btn {
  margin-top: 30px;
  background-color: white;
  border: 10px solid rgba(255, 166, 166, 0.4);
  border-radius: 50px;
  width: 300px;
  height: 95px;
  text-align: center;
  position: relative;
  clear: both;
  float: left;
}

.header__link, .main-visual__link {
  font-family: 小塚ゴシック Pr6N;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1.36px;
  line-height: 78px;
  color: #FF5263;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__link:after, .main-visual__link:after {
  margin-left: 7px;
  content: '\f305';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.header {
  width: 100%;
  height: 120px;
  z-index: 5;
  background: linear-gradient(114.55deg, #ff4664 0.09%, #ff4964 2.98%, #ff8a60 68.91%, #ffa35f 100%);
  box-shadow: 0px 2px 5px rgba(40, 0, 0, 0.2);
  position: fixed;
}

.header__logo {
  position: absolute;
  width: 180px;
  float: left;
  margin-top: 45px;
  margin-left: 57px;
}

.header__btn {
  float: right;
  margin-right: 37px;
  margin-top: 10px;
}

.wrap {
  max-width: 1400px;
}

.main-visual-container {
  background-image: url(/assets/image/back_ground_01.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 910px;
}

.main-visual {
  padding: 169px 10% 0px 10%;
}

.main-visual__txt {
  font-family: Noto Sans CJK JP;
  font-size: 22px;
  font-weight: bold;
  line-height: 38.75px;
  letter-spacing: 0.88px;
  color: white;
  margin-top: 26px;
}

.main-visual__balloon {
  font-family: Noto Sans CJK JP;
  color: white;
  font-size: 16px;
  background: linear-gradient(90deg, #ff830a 0%, #ffb446 100%);
  padding: 20px 17px;
  border-radius: 8px;
  width: 407px;
  text-align: center;
  margin-top: 86px;
  float: left;
  position: relative;
}

.main-visual__balloon:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 70px;
  bottom: -20px;
  border-top: 20px solid #ff830a;
  border-right: 18px solid transparent;
  border-left: 5px solid transparent;
}

.OUR_MISSION-container {
  width: 100%;
  height: 1000px;
  background-color: white;
}

.OUR_MISSION {
  padding: 78px 10% 78px 10%;
  text-align: center;
}

.OUR_MISSION__title {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 34px;
  line-height: 47.5px;
  letter-spacing: 0.68px;
  color: #333333;
  margin-top: 40px;
}

.OUR_MISSION__txt {
  font-family: Noto Sans CJK JP;
  font-weight: medium;
  font-size: 17px;
  line-height: 46px;
  color: #333333;
  margin-top: 75px;
}

.OM-contents-container {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
}

.OM-contents {
  position: relative;
  margin-top: 240px;
}

.OM-contents__img {
  position: absolute;
  bottom: 90px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.OM-contents__txt {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.34px;
  color: #333333;
  text-align: left;
}

.Reward-container {
  background-image: url(/assets/image/back_ground_03.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1218px;
}

.Reward {
  padding: 280px 10% 0px 10%;
}

.Reward__sub-title {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 20px;
  line-height: 43.5px;
  letter-spacing: 0.4px;
  color: white;
}

.Reward__title {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 34px;
  line-height: 43.5px;
  letter-spacing: 0.68px;
  color: white;
  margin-top: 15px;
}

.Reward .Reward-contents-container {
  padding-top: 78px;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.Reward .Reward-contents-container .Reward-contents {
  width: 33%;
  padding-right: 8%;
  display: inline-block;
  margin-bottom: 38px;
}

.Reward .Reward-contents-container .Reward-contents__title {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 17px;
  line-height: 43.5px;
  letter-spacing: 0.34px;
  color: white;
  margin-top: 8px;
}

.Reward .Reward-contents-container .Reward-contents__txt {
  font-family: Noto Sans CJK JP;
  font-weight: medium;
  font-size: 14px;
  line-height: 27.5px;
  letter-spacing: 0.28px;
  color: white;
  margin-top: 8px;
}

.TO_THE_WORLD-container {
  width: 100%;
  height: 760px;
  background-color: white;
}

.TO_THE_WORLD {
  padding: 78px 10% 78px 10%;
  text-align: center;
}

.TO_THE_WORLD__title {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 34px;
  line-height: 47.5px;
  letter-spacing: 0.68px;
  color: #333333;
  margin-top: 40px;
}

.TTW-contents-container {
  padding-top: 85px;
  display: flex;
  justify-content: space-around;
}

.TTW-contents {
  margin: 0 auto;
  width: 50%;
  max-width: 500px;
  padding-right: 5%;
  padding-left: 5%;
}

.TTW-contents__title {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 20px;
  line-height: 47.5px;
  letter-spacing: 0.4px;
  color: #333333;
}

.TTW-contents__txt {
  font-family: Noto Sans CJK JP;
  font-weight: medium;
  line-height: 36px;
  letter-spacing: -1.2px;
  color: #333333;
  margin-top: 7px;
}

.Tech_company-container {
  background-image: url(/assets/image/back_ground_05.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1037px;
}

.Tech_company {
  padding: 271px 10% 0px 10%;
  display: flex;
}

.Tech_company__l {
  width: 558px;
  margin-right: 10%;
}

.Tech_company__l__title {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 28px;
  line-height: 45.5px;
  letter-spacing: 1.2px;
  color: #333333;
}

.Tech_company__l__txt {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 15px;
  line-height: 40px;
  color: #333333;
  margin-top: 40px;
}

.Tc-contents {
  margin-bottom: 96px;
}

.Tc-contents__img {
  float: left;
  padding-right: 35px;
}

.Tc-contents__txt-box {
  display: inline-block;
  width: 70%;
}

.Tc-contents__title {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
}

.Tc-contents__txt {
  font-family: Noto Sans CJK JP;
  font-weight: medium;
  font-size: 15px;
  line-height: 26px;
  color: #333333;
  margin-top: 8px;
}

.PRODUCK_RELEASE-container {
  width: 100%;
  height: 823px;
  background-color: white;
  position: relative;
}

.PRODUCK_RELEASE-container:before {
  content: url(/assets/image/PRODUCK_RELEASE.png);
  position: absolute;
  top: 260px;
  left: 660px;
}

.PRODUCK_RELEASE {
  padding: 78px 10% 78px 10%;
  position: absolute;
  z-index: inherit;
  width: 100%;
}

.PRODUCK_RELEASE__sub-title {
  text-align: center;
}

.PRODUCK_RELEASE__title {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 34px;
  line-height: 47.5px;
  letter-spacing: 0.68px;
  color: #333333;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 100px;
}

.PRODUCK_RELEASE__day {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 23px;
  line-height: 46px;
  color: #333333;
}

.PRODUCK_RELEASE__day .smallsize {
  font-family: Noto Sans CJK JP;
  font-weight: bold;
  font-size: 16px;
}

.PRODUCK_RELEASE__txt {
  font-family: Noto Sans CJK JP;
  font-weight: medium;
  font-size: 15px;
  line-height: 40px;
  color: #333333;
  width: 457px;
  float: left;
  margin-top: 47px;
}

.PRODUCK_RELEASE__btn {
  margin-top: 47px;
  clear: both;
  border: 10px solid rgba(255, 255, 255, 0.6);
  background-color: #ff6263;
  border-radius: 50px;
  width: 291px;
  height: 68px;
  position: relative;
  float: left;
}

.PRODUCK_RELEASE__link {
  font-family: 小塚ゴシック Pr6N;
  font-size: 14px;
  font-weight: bold;
  color: white;
  position: absolute;
  text-align: center;
  line-height: 49px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.PRODUCK_RELEASE__link:before {
  content: url(/assets/image/cat-icon.png);
  display: inline-block;
  padding-right: 10px;
}

.OFFICIAL_PARTNERS-container {
  background-image: url(/assets/image/back_ground_07.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 764px;
}

.OFFICIAL_PARTNERS {
  padding: 271px 10% 0px 10%;
  text-align: center;
}

.OFFICIAL_PARTNERS__title {
  font-family: Poppins;
  font-weight: bold;
  font-size: 19px;
  line-height: 46px;
  letter-spacing: 1.14px;
  color: #FF5263;
  border: 2px solid #FF5263;
  border-radius: 8px;
  width: 270px;
}

.OFFICIAL_PARTNERS__list {
  width: 748px;
  padding-top: 78px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.OFFICIAL_PARTNERS__link {
  display: inline-block;
  line-height: 70px;
  width: 33%;
  margin-bottom: 20px;
}

.footer {
  height: 67px;
  text-align: center;
  background-color: #333333;
}

.copyright {
  line-height: 67px;
  font-family: PT Sans;
  font-weight: bold;
  font-size: 13px;
  color: white;
  letter-spacing: 0.78px;
}
