//メニューアニメーション

.mouse-on{
    transform-origin: 50% 50%; 
    transform: rotateZ(180deg) scale(1.2);
    transition-duration: .4s;
}

.mouse-out{
    transform-origin: 50% 50%; 
    transform: rotateZ(-180deg) scale(1);
    transition-duration: .4s;
}

.open{
    transition-duration: .8s;   
    transform: scale(100);
    transition-delay: .5s;
}

.circle-size{
    transform: scale(1);
    transition-duration: .5s;
    background-color: white;
}

.dot{
    transition-duration: .8s;
    transition-delay: .5s;
    background: #138ebf;
}

.menu-font-color{
    transition-duration: .8s;
    color: white;
}

.fade-in{
    opacity: 1;
    transform: translateY(0);
    transition-delay: .5s;
    transition-duration: .8s;
}

.active{
    opacity: 1;
    transform: translateX(0px);
    transition-delay: 0.5s;
    visibility: visible;
}

.scroll{
    overflow: hidden;
}

.menu-width{
    width: 100%;
}


// フォームアニメーション

.input-click{
    transform: translateY(0px);
    font-size: 12px;
    transition-duration: 500ms;
}
